.player_page {
    background-color: $gray_black;
    color: #fff;
    font-family: "PLAY-Regular";
    margin: 0;


    .profile-container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        gap: 2rem;
        padding: 0 2rem;
        padding-top: 22svh;
        padding-bottom: 30px;

        .left-column {
            width: 300px;

            .player-card {
                background: #1a1a1a;
                border-radius: 12px;
                padding: 1.5rem;
                margin-bottom: 15px;

                .player-info {

                    /* Стиль для параграфа с титулом */
                    >p {

                        strong {
                            color: $light; // Золотой цвет для "Титул:"
                        }
                    }
                }
            }
        }

        .right-column {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .card {
                background: #1a1a1a;
                border-radius: 12px;
                padding: 1.5rem;
            }

            /* Убираем padding у внутреннего блока */
            .achievements-card {
                padding: 10 !important;
                /* !important на случай, если другие стили переопределяют */
            }
        }

        .player-card img {
            width: 100%;
            border-radius: 12px;
            margin-bottom: 1rem;
        }

        .player-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .badge {
            background: $blue_medium;
            color: white;
            padding: 4px 10px;
            border-radius: 50%;
            font-weight: bold;
            font-size: 0.9rem;
        }

        .player-info p {
            margin: 0.5rem 0;
            color: $gray_light;
        }

        .stats-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 1rem;
            text-align: center;
            padding-top: 20px;
            font-size: 12px;
            color: $gray_light;
        }

        .stats-grid .number {
            font-size: 1.8rem;
            color: $blue_medium;
            font-weight: bold;
            padding-bottom: 10px;
        }

        .career-item {
            border-top: 1px solid #333;
            padding: 0.7rem 0;
            padding-top: 20px;
        }

        .career-item:first-of-type {
            border-top: none;
        }

        .career-item span {
            float: right;
            color: $blue_medium;
        }

        .career-item small {
            display: block;
            color: #999;
            margin-top: 0.3rem;
        }
    }



    .player-expensive {
        height: 100%;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 1.4rem;
        }

        .player-info {
            background: #1a1a1a;
            border-radius: 12px;
            padding: 1.0rem;
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .experience-bar-container {
                position: relative;
                width: 250px;
                height: 25px;
                background-color: #ddd;
                border-radius: 12px;
                overflow: hidden;
                margin-bottom: 10px;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }

            .experience-bar-fill {
                height: 100%;
                width: 0%;
                background: linear-gradient(90deg, #FDC500, #00509D);
                border-radius: 12px 0 0 12px;
                transition: width 0.5s ease-in-out;
            }

            .experience-bar-text {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                line-height: 25px;
                font-weight: bold;
                color: #fff;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
                user-select: none;
            }

            /* Стиль для параграфа с титулом */
            >p {
                text-align: center;
                width: 100%;
                margin: 0.5rem 0 0 0;

                span {
                    color: $gold; // Золотой цвет для "Титул:"
                }
            }
        }
    }
}



@import "media/_player_page_media.scss";