@media (max-width: 1366px) {
    .wrapper_info {
        .wrapper_bloks {
            gap: 15svh;
        }
    }

    .about_the_team {
        .about_the_team_wrapper {
            .index_text_block {
                margin-left: 2px;
                padding-right: 0px;
            }
        }
    }

    .index_photo_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .big_photo img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .smalll_photo {
        display: flex;
        gap: 10px;

        img {
            width: 100%;
            max-width: 240px;
            height: auto;
        }
    }
}


@media (max-width: 1024px) {
    .banner {
        height: 650px;

        .content {
            .text {
                font-size: 65px;
            }

            h1 {
                font-size: 1.6svh;
                margin-top: 10px;
            }

            .button_wrapper {
                display: flex;
                height: 70px;
                padding-top: 25px;

                .white_button {
                    padding-right: 10px;

                    button {
                        font-size: 2svh;
                        padding: 10px 20px;
                    }
                }

                .dark_button {

                    button {
                        font-size: 2svh;
                        padding: 10px 20px;
                    }

                }
            }
        }
    }

    .wrapper_info {
        .wrapper_bloks {
            gap: 10svh;

            .block {

                h1 {
                    font-family: PLAY-BOLD;
                    color: $dark;
                    font-size: 4svh;
                }

                p {
                    font-family: PLAY-REGULAR;
                    font-size: 2.5svh;
                }
            }
        }
    }

    .about_the_team {
        .about_the_team_wrapper {
            display: flex;
            flex-direction: row; // по умолчанию: текст + фото в ряд
            padding: 10px;

            @media (max-width: 1024px) {
                flex-direction: column; // на планшетах — колонкой
                align-items: center;
            }

            .index_text_block {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 0px;
                margin-left: 0px;

                .title,
                .text,
                .about_button {
                    text-align: center;
                }

                @media (max-width: 1024px) {
                    width: 100%;

                }
            }

            .index_photo_block {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;

                .big_photo img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;
                }

                .smalll_photo {
                    display: flex;
                    gap: 10px;

                    img {
                        flex: 1;
                        width: 100%;
                        object-fit: cover;
                        height: auto; // можно задать фиксированную высоту, если нужно ровно
                        aspect-ratio: 1.5 / 1; // для выравнивания по высоте
                        display: block;
                    }
                }

                @media (max-width: 768px) {
                    max-width: 100%;

                    .smalll_photo {
                        flex-direction: column;

                        img {
                            aspect-ratio: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .view_in_team {
        height: 450px;

        .team_88 {
            .content {
                .text {
                    font-size: 95px;
                }
            }
        }

        .team_pro {
            .content {
                .text {
                    font-size: 95px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        height: 80svh;

        .content {
            height: 400px;

            .text {
                font-size: 35px;
            }

            .button_wrapper {
                display: flex;
                flex-direction: column;
                height: 150px;
                padding-top: 25px;

                .white_button {
                    padding-right: 0px;

                    button {
                        font-size: 18px;
                        padding: 10px 20px;
                        min-width: 230px;
                    }
                }

                .dark_button {
                    padding-top: 10px;

                    button {
                        font-size: 18px;
                        padding: 10px 20px;
                        min-width: 230px;
                    }

                }
            }
        }
    }

    .wrapper_info {
        height: 150px;
        margin-top: 25px;

        .wrapper_bloks {
            gap: 5svh;

            .block {
                min-width: 100px;

                h1 {
                    font-family: PLAY-BOLD;
                    color: $dark;
                    font-size: 4svh;
                }

                p {
                    font-family: PLAY-REGULAR;
                    font-size: 2svh;
                }
            }
        }
    }



    .last_matches {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 15px;

        .last_matches_container {
            width: 100%;

            .title {
                margin-bottom: 15px;
                text-align: center;
            }

            .last_match_8x8 {
                height: 230px;

                .fill {
                    .data {
                        text-align: center;
                        padding-top: 30px;
                        font-size: 14px;
                        color: $light;
                        font-family: play-regular;
                    }

                    .title_last_matches {
                        padding-top: 10px;
                        font-size: 14px;
                    }

                    .text_block {
                        align-items: center;
                        padding: 10px;

                        .team_name_1 {
                            font-size: 16px;
                        }

                        .team_name_2 {
                            font-size: 16px;
                        }
                    }

                    .goals {
                        font-size: 16px;
                        height: 30%;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .last_match_pro {
                height: 230px;

                .fill {
                    .data {
                        text-align: center;
                        padding-top: 30px;
                        font-size: 14px;
                        color: $light;
                        font-family: play-regular;
                    }

                    .title_last_matches {
                        padding-top: 10px;
                        font-size: 14px;
                    }

                    .text_block {
                        align-items: center;
                        padding: 10px;

                        .team_name_1 {
                            font-size: 16px;
                        }

                        .team_name_2 {
                            font-size: 16px;
                        }
                    }

                    .goals {
                        height: 30%;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .about_the_team {

        .about_the_team_wrapper {
            flex-direction: column;


            .index_text_block {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0px;
                padding-right: 20px;
                padding-left: 20px;

                .title {
                    text-align: center;
                    font-size: 35px;
                }

                .text {
                    text-align: center;
                    font-size: 20px;
                }

                .about_button {
                    text-align: center;
                }
            }

            .index_photo_block {
                width: 100%;

                .big_photo {
                    width: 100%;
                    padding: 20px 10px 5px 10px;
                    justify-content: center;
                    display: flex;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }

                .smalll_photo {
                    width: 100%;
                    display: flex;
                    flex-direction: row; // ✅ в ряд!
                    gap: 10px;
                    padding: 5px 10px 20px 10px;
                    justify-content: center;

                    img {
                        width: 50%;
                        aspect-ratio: 1.5 / 1; // чтобы были одинаковой высоты
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .view_in_team {
        height: auto;
        flex-direction: column;

        .team_88 {
            width: 100%;
            height: 400px;
        }

        .team_pro {
            width: 100%;
            height: 400px;
        }
    }

    .tablegoal {
        flex-direction: column;

        .last_matches {
            padding: 45px 15px;
            width: 100%;
            height: auto;

            .wrapper {
                max-width: 400px;
            }
        }

        .statistic {
            padding: 45px 15px;
            width: 100%;
            height: auto;

            .wrapper {
                width: 90%;
                max-width: 500px;

                .title {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 30px;
                    font-size: 22px;
                    font-family: PLAY-BOLD;
                }

                ul {
                    font-family: PLAY-REGULAR;

                    li {
                        display: flex;
                        padding: 5px 0;
                        justify-content: space-between;

                        .number {
                            display: flex;
                            justify-content: flex-start;
                        }

                        .player {
                            display: flex;
                        }

                        .counter {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }

        .assists {
            background: $gray_black;
        }
    }

    .birthday {
        display: flex;
        height: 540px;
        margin: 10px 10px 10px 10px;
        align-items: center;
        flex-direction: column;

        .birthday_players {
            width: 100%;
            max-width: 100%;
        }

        .player_in_team {
            display: none;
        }
    }

    .scrolling-wrapper {
        overflow-x: auto;
        /* используем auto вместо scroll */
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        /* Добавляем фиксированную ширину */
        -ms-overflow-style: none;
        /* убираем стандартный скролл для IE */
        scrollbar-width: none;
        /* убираем стандартный скролл для Firefox */
        scroll-behavior: smooth;
        /* делаем скролл плавным */
    }

    .scrolling-wrapper .card {
        display: inline-block;
        padding: 10px 20px;
        overflow-x: hidden;
        /* Добавляем скрытие по горизонтали для изображений */
    }

    .scrolling-wrapper .card img {
        height: auto;
        /* Установите высоту изображений в автоматический режим */
        max-height: 50vh;
        /* Установите максимальную высоту для изображений */
        cursor: grab;
        overflow-x: hidden;
        /* меняем курсор на grab при наведении на изображение */
    }

    /* меняем курсор на grabbing при перетаскивании изображения */
    .scrolling-wrapper .card img:active {
        cursor: grabbing;
        overflow-x: hidden;
    }

    .scrolling-wrapper::-webkit-scrollbar {
        overflow-x: hidden;
    }


}