@media (max-width: 1366px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {

    .forever_payer {
        .profile-container {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            gap: 2rem;
            padding: 0 2rem;
            padding-top: 85px;
            padding-bottom: 25px;
            flex-direction: column;
        }

        .left-column {
            width: 100%;
        }

        .player-card,
        .card {
            background: #1a1a1a;
            border-radius: 12px;
            padding: 1.0rem;

            span {
                padding-right: 15px;
            }
        }
    }
}